#site-nav {
  .site-nav-link {
    font-weight: 500;
    &:hover {
      &:before {
        opacity: 1;
        transform: translate(-50%, -0.5rem);
      }
      .text {
        transition: transform 150ms ease-in, color 500ms;
        transform: translateY(-0.5rem);
      }
    }
    &:before {
      left: 50%;
      bottom: toRem(4);
      width: toRem(8);
      height: toRem(8);
      border-radius: 50%;
      background-color: $chardonnay;
      opacity: 0;
      transform: translateX(-50%);
    }
    &.active {
      &:before {
        opacity: 1;
        transform: translate(-50%, -0.5rem);
      }
      .text {
        transform: translateY(-0.5rem);
      }
    }
    .text {
      transition: transform 150ms ease-out, color 500ms;
    }
  }
}
